@import '../styles/common.scss';

$cultured: #f8f9faff;
$cultured-2: #e9ecefff;
$gainsboro: #dee2e6ff;
$light-gray: #ced4daff;
$cadet-blue-crayola: #adb5bdff;
$slate-gray: #6c757dff;
$davys-grey: #495057ff;
$gunmetal: #343a40ff;
$charleston-green: #212529ff;

body {
    background-color: $charleston-green;
    font-family: $roboto;
    color: $cadet-blue-crayola;
    padding: 0;
    margin: 0;
}

a {
    color: $cultured;
}

.sourdough-guide {
    width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 1.5em;

    &__title {
        display: flex;

        .icon {
            margin-right: 20px;
        }

    }

    &__header-image {
        display: flex;
        justify-content: space-around;
        margin-top: 40px;
        margin-bottom: 40px;

        img {
            width: 50%;
            box-shadow: 2px 2px darken($charleston-green, 5%);
        }
    }

    &__sourdough-man-image {
        margin-top: 100px;
        display: flex;
        justify-content: space-around;


        img {
            width: 50%;
            box-shadow: 2px 2px darken($charleston-green, 5%);
        }
    }

    h1 {
        color: $cultured;
    }

    h2 {
        color: $cultured-2;
    }

    h3 {
        color: $gainsboro;
    }
}

.hide {
    display: none;
}

.toggle {
    cursor: pointer;
}

.icon {
    margin-top: -2px;
    width: 30px;
    fill: $cultured;
}


.toggle-section {
    label {
        cursor: pointer;
        user-select: none;
        display: flex;
        align-items: center;
    }

    input[type=checkbox] {
        display: none;
    }


    input {
        & + label {
            .toggle-collapse {
                display: none;
            }

            & + .toggle-content {
                display: none;
            }
        }
    }

    input:checked {
        & + label {
            .toggle-collapse {
                display: unset;
            }

            .toggle-expand {
                display: none;
            }

            & + .toggle-content {
                display: unset;
            }
        }

    }

    .toggle-label-text {
        margin-left: 10px;
    }
}
