// Google Fonts
// @import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);
@import url(https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Mono&family=Roboto:wght@400;900&display=swap);

// Font Variables
$lobster: 'Lobster', cursive;
$roboto: 'Roboto', sans-serif;
$roboto-mono: 'Roboto Mono', monospace;

/* SCSS HEX */
$rich-black-fogra-29: #0d1b2aff;
$oxford-blue: #1b263bff;
$bdazzled-blue: #415a77ff;
$shadow-blue: #778da9ff;
$platinum: #e0e1ddff;

body {
    background-color: $rich-black-fogra-29;
}

.home {
    display: flex;
    justify-content: space-around;
    height: 90vh;
    align-items: center;

    &__banner {
        display: flex;
        justify-content: space-around;
        background-color: $oxford-blue;
        width: 100%;
        padding: 10px;
        box-shadow: 2px 2px black;
    }

    &__content {
        display: flex;
        align-items: center;
        user-select: none;

        &__logo {
            width: 100px;

            img {
                width: 100%;
            }
        }

        &__name {
            margin-left: 20px;
            font-family: $lobster;
            font-size: 50px;
            color: $shadow-blue;
            text-shadow: -1px -1px 0px $platinum, 1px 1px 0px $oxford-blue;
        }
    }
}
